<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuxuan.admin.expression">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- 主界面 -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.index.IndexActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 登陆 -->
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 注册 -->
        <activity android:name=".ui.RegiestActivity">
            <intent-filter>
                <action android:name="com.login.RegiestActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 找代取 -->
        <activity
            android:name=".activity.KDFoundTeamAndPersonActivity"
            android:label="找代取" >
            <intent-filter>
                <action android:name="com.delivefunction.FirstChoose" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 找代取个人 -->
        <activity
            android:name=".activity.KDPersonDQActivity"
            android:label="个人代取" />

        <!-- 找代取团队 -->
        <activity
            android:name=".activity.KDTeamDQActivity"
            android:label="团队代取" />

        <!-- 快递代取信息确认 -->
        <activity
            android:name=".activity.KDDQInfomationActivity"
            android:label="信息确认" />

        <!-- 我来赚钱 -->
        <activity
            android:name=".activity.KDZhuanQianActivity"
            android:label="我来赚钱" >
            <intent-filter>
                <action android:name="com.delivefunction.Zhuanqian" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 团队注册 -->
        <activity
            android:name=".activity.KDTeamRegister"
            android:label="团队注册" >
            <intent-filter>
                <action android:name="com.delivefunction.Team_shouye" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 个人注册 -->
        <activity
            android:name=".activity.KDGerenZhuceActivity"
            android:label="个人注册" >
            <intent-filter>
                <action android:name="com.delivefunction.Gerenzhuce" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 快递查询界面 -->
        <activity
            android:name=".activity.KDQueryActivity"
            android:label="快递查询" >
            <intent-filter>
                <action android:name="com.activity.KDQueryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 我的信息 -->
        <activity
            android:name=".activity.UMyInfomationActivity"
            android:label="我的信息" />

        <!-- 关于我们界面 -->
        <activity
            android:name=".activity.UAboutWeActivity"
            android:label="关于我们" />



    </application>

</manifest>