<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuxuan.admin.expression">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--百度地图权限 -->
    <!--读取系统信息，包含系统版本等信息，用作统计 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--获取统计数据 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--鉴权所需该权限获取进程列表 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--使用步行AR导航，配置Camera权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--百度地图定位 -->
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>


    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- 主界面 -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.index.IndexActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 登陆 -->
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 注册 -->
        <activity android:name=".ui.RegiestActivity">
            <intent-filter>
                <action android:name="com.login.RegiestActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 找代取 -->
        <activity
            android:name=".activity.KDFoundTeamAndPersonActivity"
            android:label="找代取">
            <intent-filter>
                <action android:name="com.delivefunction.FirstChoose" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 找代取个人 -->
        <activity
            android:name=".activity.KDPersonDQActivity"
            android:label="个人代取" />

        <!-- 找代取团队 -->
        <activity
            android:name=".activity.KDTeamDQActivity"
            android:label="团队代取" />

        <!-- 快递代取信息确认 -->
        <activity
            android:name=".activity.KDDQInfomationActivity"
            android:label="信息确认" />

        <!-- 我来赚钱 -->
        <activity
            android:name=".activity.KDZhuanQianActivity"
            android:label="我来赚钱">
            <intent-filter>
                <action android:name="com.delivefunction.Zhuanqian" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 团队注册 -->
        <activity
            android:name=".activity.KDTeamRegister"
            android:label="团队注册">
            <intent-filter>
                <action android:name="com.delivefunction.Team_shouye" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 个人注册 -->
        <activity
            android:name=".activity.KDGerenZhuceActivity"
            android:label="个人注册">
            <intent-filter>
                <action android:name="com.delivefunction.Gerenzhuce" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 快递查询界面 -->
        <activity
            android:name=".activity.KDQueryActivity"
            android:label="快递查询">
            <intent-filter>
                <action android:name="com.activity.KDQueryActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 我的信息 -->
        <activity
            android:name=".activity.UMyInfomationActivity"
            android:label="我的信息" />

        <!-- 关于我们界面 -->
        <activity
            android:name=".activity.UAboutWeActivity"
            android:label="关于我们" />

        <!-- 设置界面 -->
        <activity
            android:name=".activity.USetingActivity"
            android:label="设置" />

        <!-- 修改密码 -->
        <activity
            android:name=".activity.UModifyActivity"
            android:label="密码修改">
            <intent-filter>
                <action android:name="com.fragment.MyInfoFragmentItem" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 手机验证 -->
        <activity
            android:name=".activity.UIdentifyPhoneActivity"
            android:label="手机验证" />

        <!-- 我的订单 -->
        <activity
            android:name=".activity.UMyOrdersActivity"
            android:label="我的订单" />

        <!-- 我去派件-->
        <activity
            android:name=".activity.UMyPaiJianActivity"
            android:label="我去派件" />

        <!-- 我去派件-->
        <activity
            android:name=".activity.UHistoryRecordActivity"
            android:label="历史订单" />


        <!-- 支付宝相关 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <!-- 支付宝相关 -->

        <!-- 百度地图密钥 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="oZrgcojIXmK1EOBl66gwxGFh0WD2HGqX" />

        <!--百度地图定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>


    </application>

</manifest>